$color-main: #FFF;
$roboto-font: 'Roboto', sans-serif;
$slabo-font: 'Slabo 27px', sans-serif;

body {
    background-color: #EFEFEF;
    font-family: $slabo-font;
}

/* ---- SIDEBAR ----- */
.side-bar {
    height: 100%;
    width: 300px;
    position: fixed; 
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
    background-color: #323232;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.close {
    position: fixed; 
    overflow: hidden;
    top: 0; 
    left: -260px;
    z-index: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.side {
    text-align: right; 
    padding-right: 15px;
}

li {
    list-style: none;
    color: #FFF;
    text-align: left; 
    padding: 5px;
}

input {
    margin: 5px 0;
    padding: 5px;
}

.stroke-type {
    display: block;
}

#clear-btn {
    position: fixed;
    bottom: 30px;
    padding: 8px 10px;
    border-radius: 2px;
    border: 1px solid #FFF;
    background-color: #FFF;
    color: #323232;

    &:hover {
        cursor: pointer;
    }
}

.fas {
    color: #FFF;
    cursor: pointer;
}

button {
    cursor: pointer;
}


/* ----- STAGE ----- */
.size-input {
    margin: 3% auto; 
}

.size-btn {
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 8px;

    &:hover {
        cursor: pointer;
        background-color: #D8D8D8;
        border: 1px solid #D8D8D8;
        color: #FFF;
    }
}

.text-field {
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    margin: 4px;
}

/* ----- CHUDAIKO ----- */
.chu-ctn {
    position: absolute;
    z-index: 9; 
}

.chu-item {
    position: absolute;
    z-index: 2;
    left: 500px;
}

#chu-daiko {
    width: 200px;
    height: auto;
    cursor: move; 
    z-index: 10;
}

.delete-chu {
    &:hover {
        cursor: pointer;
    }
}

#test {
    border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: both;
    overflow: auto;
}